@font-face {
    font-family: LatoRegular;
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular.woff') format('woff'),
         url('../fonts/Lato-Regular.ttf') format('truetype'),
         url('../fonts/Lato-Regular.woff2') format('woff2');
}


html{
    min-height: 100%;
    position: relative;
}

body{
    font-family: LatoRegular;
    height: 100%;
}

.grey-background {
    background-color: #e3e3e3;
}

.left-column-background {
    background-color: #e6f2e7;
}

.right-column-background {
    background-color: #f2e6e6;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

.letter {
    font-size: 22pt;
    font-weight: bold;
    font-family: LatoRegular;
    -webkit-font-smoothing: subpixel-antialiased;
}

.margin-logo {
    margin-top: 170px;
}

.padding-top-70px {
    padding-top: 70px;
}

@media (min-width: 1200px) {
    .scroll-arrow-block {
        margin-top: 45px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .scroll-arrow-block {
        margin-top: 65px;
    }
}




.scroll-arrow {
    max-height: 20px;
    max-width: 25px;
}

@media only screen and (max-device-width: 480px) {
    .logo {
        max-width: 35px !important;
        max-height: 35px !important;
        margin: auto;
    }
}

.logo-img  {
    padding-left: 0;
    padding-right: 0;
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom: 100%;
}
.image img{
    position:absolute;
}

.btn-area {
    cursor: pointer;
}

.btn-area:focus,
.btn-area:active,
.btn-area:visited,
.btn-area:hover,
.btn-area:before,
.btn-area:after {
    outline: none !important;
    border: none;
    text-decoration: none;
}

.remove-style {
    padding: 0;
}

.input-field {
    margin-top: 20px;
}

.text-field {
    margin-top: 50px;
}

.input-fields {
    margin-top: 60px;
}


.input-desktop {
    background-color: #e6f2e7;
}

input {
    border: none;
    text-transform: uppercase;
    text-align: center;
}

.input-date {
    text-align: center;
}

.input-date-mobile {
    text-align: left;
    padding-left: 7px;
}

.input {
    width: 160px;
}

.io-text {
    font-size: 12pt;
    font-family: LatoRegular;
}

.output-header {
    font-weight: bold;
}

/*Desktop*/
@media only screen and (min-width: 1200px) {
    .logo-text {
        font-size: 9.5pt;
        font-weight: bold;
        font-family: LatoRegular;
    }
}

/*Big tablet*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .logo-text {
        font-size: 8pt;
        font-weight: bold;
        font-family: LatoRegular;
    }
}

/*Small tablet & Big phone*/
@media only screen and (max-device-width: 480px) {
    .input {
        width: 120px;
    }

    .letter {
        font-size: 14pt;
    }
}

/*Small phone*/
@media only screen and (max-device-width: 320px) {
    .input {
        width: 100px;
    }
}

.text-title {
    margin-bottom: 50px;
    margin-top: 30px;
}

.bottom-text-block {
    position: relative;
    z-index: 999;
}

.bottom-text {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
}

.bottom-entry {
    margin-top: 70px;
    margin-bottom: 70px;
}

.bottom-extra-space {
    margin-bottom: 80px;
}

.inherited-height {
    height: 100%;
}

.text-mobile {
    font-size: 9pt;
}

.error-message {
    color: #ff0000;
    font-size: 12pt;
}

.scroll-arrow-positioning {
    bottom: 0;
    margin-bottom: 20px;
    position: absolute;
    margin-left: 0;
    margin-right: 0;
}

#btn-text:hover {
    color: #cecece;
}