html{
    min-height: 100%;
    position: relative;
}

body{
    height: 100%;
}

.grey-background {
    background-color: #e3e3e3;
}

.left-column-background {
    background-color: #e6f2e7;
}

.right-column-background {
    background-color: #f2e6e6;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

.letter {
    font-size: 22pt;
    font-weight: bold;
    font-family: Lato;/*Georgia, serif;*/
    -webkit-font-smoothing: subpixel-antialiased;
}

.margin-logo {
    margin-top: 200px;
}

@media only screen and (max-device-width: 480px) {
    .logo {
        max-width: 35px !important;
        max-height: 35px !important;
        margin: auto;
    }
}

.logo-img  {
    padding-left: 0;
    padding-right: 0;
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom: 100%;
}
.image img{
    position:absolute;
}

.logo-text {
    font-size: 16pt;
    font-weight: bold;
    font-family: Lato;
}

#btn-text {
    margin-top: 100px;
}

.remove-style {
    padding: 0;
}

.input-field, .text-field {
    margin-top: 20px;
}

.input-fields {
    margin-top: 60px;
}

.input {
    width: 160px;
}

@media only screen and (max-device-width: 480px) {
    .input {
        width: 120px;
    }
}

@media only screen and (max-device-width: 320px) {
    .input {
        width: 100px;
    }
}

.text-title {
    margin-bottom: 50px;
    margin-top: 30px;
}

.bottom-text-block {
    position: relative;
    z-index: 999;
}

.bottom-text {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
}

/* Smartphones (portrait and landscape) */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .logo-text {
        font-size: 12pt !important;
    }
}

/* Smartphones (landscape) */
@media only screen
and (min-width : 321px) {
    .logo-text {
        font-size: 12pt !important;
    }
}

/* Smartphones (portrait) */
@media only screen
and (max-width : 320px) {
    .logo-text {
        font-size: 12pt !important;
    }
}

/* iPads (portrait and landscape) */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .logo-text {
        font-size: 12pt !important;
    }
}

/* iPads (landscape) */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .logo-text {
        font-size: 12pt !important;
    }
}

/* iPads (portrait) */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .logo-text {
        font-size: 12pt !important;
    }
}

/* Desktops and laptops */
@media only screen
and (min-width : 1224px) {

}

/* Large screens */
@media only screen
and (min-width : 1824px) {

}

/* iPhone 4 */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}

.inherited-height {
    height: 100%;
}
