html{
    min-height:100%;
    position:relative;
}

body{
    height:100%;
}


.grey-background {
    background-color: #e3e3e3;
}

.logo {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
}

/* TODO: Remove if this class is deprecated
.vertical-text {
    margin-left: 40%;
    text-align: center;
    font-size: 44pt;
    width:10px;
    word-wrap: break-word;
    font-family: monospace;
}
*/

.letter {
    font-size: 34pt;
    font-family: Georgia, serif;
}

/*
.container {
    height: 100vh;
    overflow: auto;
}
*/

@media only screen and (max-device-width: 480px) {
    .logo {
        max-width: 40px !important;
        max-height: 40px !important;
        margin: auto;
    }
}

.input-field, .text-field {
    margin-top: 20px;
}

.input {
    width: 160px;
}

@media only screen and (max-device-width: 480px) {
    .input {
        width: 120px;
    }
}

@media only screen and (max-device-width: 320px) {
    .input {
        width: 100px;
    }
}