<!DOCTYPE html>
<html lang="en">
<head>
    <!--Add bootstrap with proper layout-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 grey-background container" id="">
                <div class="center-column">
                    <!-- Separate to logical blocks each input field -->
                    <div class="row input-field">
                        <div class="col-xs-8
                                    col-sm-8 col-sm-offset-2
                                    col-md-8 col-md-offset-4
                                    col-lg-8 col-lg-offset-4">
                            <div>
                                STOCK NAME
                            </div>
                            <div>
                                <input id="stock_name" class="input" type="text" name="stock_name" value="Bidu">
                            </div>
                        </div>
                    </div>

                    <div class="row input-field">
                        <div class="col-xs-8
                                    col-sm-8 col-sm-offset-2
                                    col-md-8 col-md-offset-4
                                    col-lg-8 col-lg-offset-4">
                            <div>
                                START DATE
                            </div>
                            <div>
                                <input id="start_date" class="input" type="date" name="start_date" value="2006-01-01">
                            </div>
                        </div>
                    </div>

                    <div class="row input-field">
                        <div class="col-xs-8
                                    col-sm-8 col-sm-offset-2
                                    col-md-8 col-md-offset-4
                                    col-lg-8 col-lg-offset-4">
                            <div>
                                END DATE
                            </div>
                            <div>
                                <input id="end_date" class="input" type="date" name="end_date" value="{{ current_date() }}">
                            </div>
                        </div>
                    </div>

                    <div class="row input-field">
                        <div class="col-xs-8
                                    col-sm-8 col-sm-offset-2
                                    col-md-8 col-md-offset-4
                                    col-lg-8 col-lg-offset-4">
                            <div>
                                SHORT MA
                            </div>
                            <div>
                                <input id="short_ma" class="input" type="number" name="short_ma" value="5">
                            </div>
                        </div>
                    </div>

                    <div class="row input-field">
                        <div class="col-xs-8
                                    col-sm-8 col-sm-offset-2
                                    col-md-8 col-md-offset-4
                                    col-lg-8 col-lg-offset-4">
                            <div>
                                LONG MA
                            </div>
                            <div>
                                <input id="long_ma" class="input" type="number" name="long_ma" value="60">
                            </div>
                        </div>
                    </div>

                    <div class="row input-field">
                        <div class="col-xs-8
                                    col-sm-8 col-sm-offset-2
                                    col-md-8 col-md-offset-4
                                    col-lg-8 col-lg-offset-4">
                            <div>
                                RANGE
                            </div>
                            <div>
                                <input id="range" class="input" type="number" name="range" value="100">
                            </div>
                        </div>
                    </div>

                    <div class="row input-field">
                        <div class="col-xs-8
                                    col-sm-8 col-sm-offset-2
                                    col-md-8 col-md-offset-4
                                    col-lg-8 col-lg-offset-4">
                            <button id="btn" type="button" class="btn btn-primary btn-block input">Calculate</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center logo-field">
                <div>
                    <img src="/static/image/logo.jpg" class="img-responsive logo" alt="Logo"/>
                </div>
                <div class="text-center letter">
                    <div>N</div>
                    <div>I</div>
                    <div>N</div>
                    <div>E</div>
                    <div>D</div>
                    <div>A</div>
                    <div>Y</div>
                    <div>S</div>

                    <!--
                    <p class="hidden letter">N</p>
                    <p class="vertical-text">
                        NINEDAYS
                    </p>
                    -->
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 grey-background container">
                <div id="stock-title" class="text-title text-center">

                </div>

                <div id="stock-calculation" class="text-field text-center">

                </div>
                <!--
                <div class="text-field">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    </p>
                </div>
                <div class="text-field">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    </p>
                </div>
                <div class="text-field">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                    </p>
                </div>
                -->
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
</body>
</html>